# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
*.iml
.vscode/

# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Node / Frontend
node_modules/
dist/
build/
.env
.env.local

# Angular cache
.angular/
